*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

body{
	background-color: #0d1b30;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6em;
	text-align: center;
	font-weight: 200;
	width: 100%;
	height: 100%;
	color: white;
	overflow-x: hidden;
}

strong{
	font-weight: 400;
}

p{
	margin-bottom:2em;
}

.container{
	margin: 15px auto 0;
	width: 1724px;
	padding: 20px 20px 0;
	background: #ddd;
	box-shadow: inset 0px 0px 100px 25px #0d1b30;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

/**** Card Styles ****/

.flip-container {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.flip-container:last-of-type,
.flip-container:nth-of-type(6n){
	margin-right: 0;
}

.flip-container, .front, .back {
	width: 264px;
	height: 396px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transition: opacity 0.3s ease;
	opacity: 1;
}

.fade-out{
	opacity: 0;

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
}


.front {
	transform: rotateY(180deg);	
}

.back {
	background-image: url('pairs-images/pairs.jpg');
	z-index: 2;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}



.hud{
	font-size: 1.2em;
	color: white;
	margin: 0 auto;
	display: inline-block;
}

.hud-counter{
	margin-right: 20px;
}

.mask{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	z-index: 100;
	top: 0;
	transition: opacity 1s ease;
}

.hidden{
	visibility: hidden;	
	opacity: 0;
	display: none;
}

.visible{
	visibility: visible;
	opacity: 1;	
}

.restart-btn{
	border: 3px solid white;
	background-color: rgba(13, 27, 48, 0.5);
	color: white;
	transition: background-color .4s ease;
}

.restart-btn:hover{
	background-color: rgba(13,27,48, 1);
}

.btn{
	padding: 20px 30px;
	cursor: pointer;
	display: inline-block;
}

.caption-gameover,.caption-gamewon{
	margin-top: 300px;
}

h1{
	margin-bottom: 1em;
	font-weight: 400;
}